<!doctype html>
<html>
<head>
    <title>MYWWPPE</title>
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>
<body>
    <div>
        {% block colors %}{% endblock %}
    </div>
    <div>
        {% block margins %}{% endblock %}
    </div>
    <div>
        {% block download %}{% endblock %}
    </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</body>
</html>