<!doctype html>
<html>
<head>
    <title>MYWWPPE</title>
</head>
<body>
    <div>
        {% block description %}{% endblock %}
    </div>
    <div>
        {% block content %}{% endblock %}
    </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
</body>
</html>