{% extends "base.html.jinja" %}

{% block description %}
    <h2>Set custom colors</h2>
    <p>
        To set custom colors, enter the hex values in the value fields.
        You can set from one to 20 colors. Specifying the color names is optional, 
        they are the names displayed in PowerPoint. If your attached file 
        has custom colors defined, they will be overwritten.
    </p>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype=multipart/form-data invalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.upload() }}
        </div>
        <div>
            {% for subfield in form.colors %}
                <div class="test">
                <label for="value">value:</label>
                {{ subfield.form.value() }}
                <label for="name">name:</label>
                {{ subfield.form.name() }}
                </div>
                {% if subfield.errors %}
                    {% for error in subfield.form.value.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    {% for error in subfield.form.name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}