{% extends "base.html.jinja" %}
{% block content %}
<body class="body">
   <div class="container" align="left">
		<a href="/download"><button class='btn btn-default'>Download!</button></a>
   </div>
   <div class="container" align="left">
		<a href="/"><button class='btn btn-default'>Back</button></a>
   </div>
</body>
{% endblock %}