{% extends "base.html.jinja" %}

{% block description %}
    <p>This application...</p>
{% endblock %}

{% block content %}
    <a href="/colors">Set custom colors</a><br>
    <a href="/margins">Set margins of placeholders</a>
{% endblock %}