{% extends "base.html.jinja" %}

{% block upload %}
    <h1>Upload .pptx file</h1>
    <form action="" method="post" enctype=multipart/form-data invalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.upload() }}
        </p>
{% endblock %}

{% block colors %}
    <h1>Set custom colors</h1>
        <p>
            color hex value 1 {{ form.hex1() }}
            {% for error in form.hex1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            color name 1 {{ form.name1() }}
            {% for error in form.name1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            color hex value 2 {{ form.hex2() }}
            {% for error in form.hex2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            color name 2 {{ form.name2() }}
            {% for error in form.name2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.set_colors() }}
        </p>
    </form>
{% endblock %}